/* Establece el tamaño de fuente base para el documento */
html {
    font-size: 50px;
}
/* Estiliza el cuerpo del documento */
body {
    margin: 0;
    font-family: 'Bruno Ace SC', cursive;
    background-color: rgb(122, 43, 226);
}
/* Estiliza el encabezado */
header {
    height: 106vh;
}
/* Estiliza los diferentes encabezados de juegos */
.headerzelda {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/headerzelda.jpg");
    background-size: cover;
    position: relative;
}
/* Estiliza los diferentes encabezados de juegos */
.headerminecraft {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/headerminecraft.jpg");
    background-size: cover;
    position: relative;
}
/* Estiliza los diferentes encabezados de juegos */
.headerpacman {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/headerpacman.jpg");
    background-size: cover;
    position: relative;
}
/* Estiliza los diferentes encabezados de juegos */
.headergta5 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/headergta.jpg");
    background-size: cover;
    position: relative;
}
/* Estiliza los diferentes encabezados de juegos */
.headerrdr2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/headerrdr2.jpg");
    background-size: cover;
    position: relative;
}
/* Estiliza los párrafos de los encabezados de juegos */
header div p {
    font-size: 2.7rem;
    text-align: center; 
    color: rgb(0, 0, 0);
}
/* Estiliza los párrafos de los encabezados de juegos */
header .headerpacman p {
    font-size: 2.7rem;
    text-align: center; 
    color: rgb(255, 255, 255);
}
/* Estiliza los párrafos de los encabezados de juegos */
header .headerrdr2 p {
    font-size: 2.7rem;
    text-align: center; 
    color: rgb(255, 255, 255);
}
/* Estilos previamente explicados */
.rowpresentacion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
/* indica la columna dividida en 65% */
.column-2-1 {
    width: 65%;
}
/* indica el parrafo de la columna dividida */
.column-2-1 p {
    font-size: 0.7rem;
}
/* indica la columna dividida en 35% */
.column-2-2 {
    width: 35%;
}
/* indica el estilo de las iamgenes de la columna dividida */
.column-2-2 img {
    width: 50%;
    vertical-align: center;
    border-radius: 10px;
}
/* indica el margen top */
.margintop {
    margin-top: 7%;
}
/* indica el estilo del boton */
.comprar {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/* indica el estilo del video del trailer */
.rowvideo {
    width: 100%;
    text-align: center;
    justify-content: center;
}
/* indica el estilo del parrafo del trailer */
.rowvideo p {
    font-size: 0.7rem;
}
 /* indica el estilo del pie de pagina */
footer {
	padding: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
}
/* indica el estilo de las columnas del footer */
.column-3-footer {
    width: 33.33%;
    background-color: black;
    color: white;
}
/* indica el estilo de los parrafos de las columnas del footer */
.column-3-footer p {
    font-size: 0.3rem;
}
/* Estilos responsivos para pantallas con un ancho máximo de 800px */
@media screen and (max-width: 800px) {
    html {
        font-size: 25px;
    }
    header {
        height: 80vh;
    }
    .column-2-1 {
        width: 100%;
    }
    .column-2-2 {
        width: 100%;
    }
}
