html {
    font-size: 50px;
}
body {
    margin: 0;
    font-family: 'Bruno Ace SC', cursive;
    background-color: rgb(122, 43, 226);
}
header {
    height: 106vh;
    background-image: url("./../img/img-top.jpg");
    background-size: cover;
    position: relative;
}
/* indica el estilo css de los div que se encuentran dentro del encabezado */
header div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* indica el estilo css de todos los elementos p de los div que se encuentran dentro del encabezado */
header div p {
    font-size: 2.7rem;
    text-align: center; 
    color: rgb(118, 181, 206);
    border: 2px solid rgb(61, 147, 180);
}
.rowpresentacion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.column-2-1 {
    width: 65%;
}
.column-2-1 p {
    font-size: 0.7rem;
}
.column-2-2 {
    width: 35%;
}
/* indica el estilo css de las columnas de la pagina */
.row1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
}
/* indica el tamaño del titulo de los grupos */
.coltituloproductos {
    width: 100%;
}
/* indica el estilo css del titulo de los grupos */
.titulogames {
    text-align: center;
    font-size: 1rem;
}
.stylesimgprod {
    width: 80%;
    vertical-align: center;
    border-radius: 10px;
}
.column-3 {
    width: 32.33%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.column-3 p {
    font-size: 0.7rem;
}
.margintopimg {
    margin-top: 7%;
}
.row1-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
}
.column-2 {
    width: 32.33%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.column-2 p {
    font-size: 0.7rem;
}
footer {
	padding: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.column-3-footer {
    width: 33.33%;
    background-color: black;
    color: white;
}
.column-3-footer p {
    font-size: 0.3rem;
}