<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- indica el titulo de la pagina -->
    <title>Pac-Man</title>
    <!-- indica el icono de la pagina -->
    <link rel="icon" href="./../img/icon.png">
    <!-- indica la hoja de estilos de css -->
    <link rel="stylesheet" href="./../css/style.videojocs.css">
    <!-- indica el google fonts utilizado en la pagina -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
</head>
<body>
    <!-- indica el encabezado de la pagina -->
    <header>
        <div class="headerpacman">
            <p>Pac-Man</p>
        </div>
    </header>
    <main>
        <div>
            <div class="rowpresentacion">
                <div class="column-2-1">
                    <p>En el videojoc <strong>Pac-Man</strong>, el jugador controla un personatge rodó anomenat Pac-Man que ha de menjar tots els punts d'un laberint mentre evita els fantasmes. Els objectius principals són obtenir la puntuació més alta possible i passar a través de tots els nivells.</p>
                </div>
                <div class="column-2-2">
                    <img src="./../img/PacMan.jpg" class="stylesimgprod margintop">
                </div>
            </div>
            <div class="rowpresentacion">
                <div class="column-2-50">
                    <p><strong>Pac-Man</strong> té dos personatges principals: el protagonista, Pac-Man, és un personatge rodó de color groc que menja punts en un laberint, i els antagonistes, els quatre fantasmes (Blinky, Pinky, Inky i Clyde) que persegueixen a Pac-Man pel laberint.</p>
                </div>
                <div class="column-2-50">
                    <p>Preu: 29.99€</p>
                    <button class="comprar">Comprar</button>
                </div>
            </div>
            <div class="rowvideo">
                <p>Trailer del videojoc</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/i_OjztdQ8iw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
    </main>
    <footer>
        <div class="rowpresentacion">
			<div class="column-3-footer">
				<p>Fet per Jordi Sorribes i Oscar Lopez</p>
			</div>
            <div class="column-3-footer">
				<p>Pixel Palace</p>
                <p>Contacte:</p>
                <p>Correu: jordioscar@gmail.com</p>
                <p>Tel.: +34 695 24 15 48</p>
			</div>
            <div class="column-3-footer">
				<p>Drets d'autor reservats</p>
			</div>
		</div>
    </footer>
</body>
</html>