<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- indica el titulo de la pagina -->
    <title>The Legend of Zelda: Breath of the Wild</title>
    <!-- indica el icono de la pagina -->
    <link rel="icon" href="./../img/icon.png">
    <!-- indica la hoja de estilos de css -->
    <link rel="stylesheet" href="./../css/style.videojocs.css">
    <!-- indica el google fonts utilizado en la pagina -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
</head>
<body>
    <!-- indica el encabezado de la pagina -->
    <header>
        <div class="headerzelda">
            <p>THE LEGEND OF ZELDA: BREATH OF THE WILD</p>
        </div>
    </header>
    <main>
        <div>
            <div class="rowpresentacion">
                <!-- indica la descripcion del videojuego -->
                <div class="column-2-1">
                    <p>A <strong>The Legend of Zelda: Breath of the Wild</strong>, Link es desperta després d'un llarg somni per descobrir que el regne d'Hyrule està en ruïnes. Link ha d'explorar el vast món obert i reunir les eines i habilitats necessàries per derrotar a Calamity Ganon i salvar a la princesa Zelda i el regne d'Hyrule.</p>
                </div>
                <!-- indica la imagen del videojuego -->
                <div class="column-2-2">
                    <img src="./../img/the-legend-of-zelda-breath-of-the-wild.jpg" class="stylesimgprod margintop">
                </div>
            </div>
            <div class="rowpresentacion">
                <!-- indica los personajes del videojuego -->
                <div class="column-2-1">
                    <p>En <strong>The Legend of Zelda: Breath of the Wild</strong>, el protagonista Link ha de salvar el regne d'Hyrule i rescatar a la princesa Zelda del malvat Calamity Ganon. Comptarà amb l'ajuda dels guerrers Revali, Mipha, Urbosa i Daruk, i també tindrà la col·laboració de la guardiana Impa.</p>
                </div>
                <!-- indica el precio del videojuego -->
                <div class="column-2-2">
                    <p>Preu: 61,73€</p>
                    <button class="comprar">Comprar</button>
                </div>
            </div>
            <!-- indica el trailer del videojuego -->
            <div class="rowvideo">
                <p>Trailer del videojoc</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ofH5ptn5w-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </main>
    <!-- indica el pie de pagina de la pagina -->
    <footer>
        <div class="rowpresentacion">
			<div class="column-3-footer">
				<p>Fet per Jordi Sorribes i Oscar Lopez</p>
			</div>
            <div class="column-3-footer">
				<p>Pixel Palace</p>
                <p>Contacte:</p>
                <p>Correu: jordioscar@gmail.com</p>
                <p>Tel.: +34 695 24 15 48</p>
			</div>
            <div class="column-3-footer">
				<p>Drets d'autor reservats</p>
			</div>
		</div>
    </footer>
</body>
</html>